.adminbar {
    padding: 5px;
    background-color: #3366cc;
    color: #fff;
}
.adminbar a[href]{
    color: #ffffff;
    text-decoration: none;
}

.adminbar b {
    color: #fff;
}

.adminbar a {
    font-weight: bolder;
    color: #fff;
    margin-left: 10px;
    border-radius: 0px;
    border: solid 1px;
    padding: 2px 4px;
}

.adminbar a:hover {
    color: #333;
    background-color: #fff;
    text-decoration: none;
}

.admin_list {
    border-spacing: 12px 0px;
}

.admin_list tr:nth-child(even) {
    background: #ccc;
}
